@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    @apply bg-background;
}


.card-bg-gradient-blue {
    background: linear-gradient(223deg, #051A91 -4.31%, #061C93 14.41%, #2284F1 81.88%, #1F80EB 103.81%);
}

.card-bg-gradient-darkblue {
    background: linear-gradient(223deg, #07163a -14.31%, #14477a 20.41%, #1f7ab4 75.88%, #239de0 103.81%);
}
